.recovery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .recovery-form h2, 
  .recovery-form h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .recovery-form input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .recovery-form button {
    width: 30%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .recovery-form button:hover {
    background-color: #5a9bd3;
  }
  