
.container {
    display: flex;
    min-height: 100vh;
    background-color: #DFF0D8;
    overflow-x: auto;
}

/* left sidebar */
.tabs {
    width: 300px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 16px;
    box-sizing: border-box;
}

/* tab section title*/
.tab-header {
    width: 250px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    color: #333;
    transition: background-color 0.2s;
}

.tab-header:hover {
    background-color: #ececec;
    border-radius: 4px;
}

.tab-header.expanded-parent {
    background-color: #f0f0f0;
    border-radius: 6px;
  }
  

/* tab children */
.tab-children {
    width: 250px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* 每个子链接 */
.tab-children a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #444;
    letter-spacing: 0.3px;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 6px;
  }
  

.tab-children a:hover {
    background-color: 	#f2f2f2;
    color: #3E7D5E;
}

/* Active */
.active:hover {
    font-weight: bold;
    color: #555;
}

.active {
    font-weight: bold !important;
    background-color: #FFE5B4 !important;
    color: #4A5A29 !important;
  }

.expand-icon {
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-right: 6px;
    color: #4CAF50;
  }
  
  .expand-icon.expanded {
    transform: rotate(180deg);
  }
  
  .admin-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-grow: 1;
    background-color: #DFF0D8;
    overflow-x: auto;
  }


/* right side */
.routes {
    flex-grow: 1;
    padding: 24px;
    overflow-x: auto;
    min-width: 0;
}