/* 顶部 Header */
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    color: #282c34;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* LOGO 样式 */
  .logo img {
    margin-top: 10px;
    width: 250px; /* 调整大小 */
    height: auto;
  }
  
  /* 导航 ICON 样式 */
  .nav-icons {
    padding-right: 5px;
    display: flex;
    gap: 30px;
  }
  
  .icon {
    color: #282c34;
    font-size: 22px;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #f4b400;
  }
  