.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 10px 20px;

  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-bottom: 10px;
  width: auto;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #235858;
}

.icon:hover {
  color: #a8e847;
}